/*  File: mystyle.css
	Author: James Rich
	Date: December 2021
	Class: CIS 133DA section 22014 
	With extensive help from W3. 
	All images from Pexel, free to 
	use with no attribution required.
	All fonts from Google Fonts. */

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Encode+Sans+SC&family=Quattrocento+Sans&display=swap'); /* In order: title, heading, text. */ 
	
* {
  box-sizing: border-box;
}

body {
	background-color: #a49ec5; /* Background color */
	color: #0a0428;
	font-family: "Quattrocento Sans", sans-serif;
	font-size: 16pt;
	margin-left: 50px; 
	}
	
.header {
	padding: 30px;
	text-align: left;
	background: #9288CA; /* Accent color 3. */
} 
	
.header h1 {
	font-size: 36pt;
}

.header img {
	padding: 10px;
	float: left;
	width: 150px;
	height: auto;
}

/* Top navigation bar */
.topnav {
	background-color: #0C0728; /* Accent color 2. */
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden; 
}

.topnav li {
	display: inline-block;
	font-size: 16pt; 
	padding: 20px;
}	

a { /* General link appearance. */
	color: #A49EC5; /* This is the background color again. */
}

a:visited { /* Visited link appearance. */
	color: #9288CA; /* Accent color 3. */
	text-decoration: underline;
}

.active { /* Keeps tabs on which page you're on. */
	background-color: #ffffff;
	padding: 20px;
}

/* Create three unequal columns that float next to each other */

/* Left column - images */
.leftcolumn {   
	float: left;
	width: 20%;
}

.leftcolumn img {
	float: left;
}

.responsive { /* This makes the image match the width of the column. */
  width: 100%;
  height: auto;
}

/* Center column - main content */
.centercolumn {
	float: left;
	width: 60%;
	background-color: #f1f1f1;
	padding-left: 20px;
}

/* Right column - events */
.rightcolumn {
	float: left;
	width: 20%;
	padding-left: 20px;
}

.rightcolumn h2 {
	font-size: 20pt;
}
	
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
	}
	

/* Styling for the menu tables. */
table, th, td {
	border: 1px solid black;
	padding: 10px;
}

table {
	width: 100%;
}

/* Styling for the Events page date icons - c/o sitepoint.com */
time.icon {
	font-size: 1em; /* change icon size */
	display: block;
	position: relative;
	width: 7em;
	height: 7em;
	background-color: #fff;
	border-radius: 0.6em;
	box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
	overflow: hidden;
	float: left;
}

time.icon * {
	display: block;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

time.icon strong {
	position: absolute;
	top: 0;
	padding: 0.4em 0;
	color: #fff;
	background-color: #9288CA;
	border-bottom: 1px dashed #f37302;
	box-shadow: 0 2px 0 #9288CA;
}

time.icon em {
	position: absolute;
	bottom: 0.3em;
	color: #9288CA;
}

time.icon span {
	font-size: 2.8em;
	letter-spacing: -0.05em;
	padding-top: 0.8em;
	color: #2f2f2f;
}

/* Footer */
.footer {
	padding: 20px;
	text-align: center;
	margin-top: 20px;
	width: 100%;
	}
	
.footer h2 {
		font-size: 12pt;
}

/* Responsive layout - when the screen is less than 800px wide, 
make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.leftcolumn, .centercolumn, .rightcolumn {   
			width: 100%;
			padding: 0;
		}
	}

/* Responsive layout - when the screen is less than 400px wide, make the 
navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.topnav a {
		float: none;
		width: 100%;
	}
}
		
h1 { /* Title */
	color: #0a0428; /* Font color */
	font-family: "Cinzel Decorative", cursive;
	font-size: 36pt;
	margin-left: 100px;
}
	
h2 { /* For section headings. */
	color: #0c0728; /* Accent color #2. */
	font-family: "Encode Sans SC", sans-serif;
	margin-left: 75px;
}